<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kent.board.dao.BoardMapper">

<insert id="insert">
	<![CDATA[
	INSERT INTO tbl_board (bno, title, content, writer)
	values (seq_board.nextval, #{title}, #{content}, #{writer})
	]]>
</insert>

  <select id="getAll" resultType="Board">
 	<![CDATA[
    	SELECT * FROM tbl_board ORDER BY bno desc
	]]>
  </select>
  
  <select id="getOne" resultType="Board">
 	<![CDATA[
    	SELECT * FROM tbl_board WHERE bno = #{bno}
	]]>
  </select>
  
  <update id="update" parameterType="Board">
 	<![CDATA[
    	UPDATE tbl_board set title = #{title}, content = #{content}, updatedate = sysdate WHERE bno = #{bno}
	]]>
  </update>
  
  <delete id="delete">
 	<![CDATA[
    	DELETE FROM tbl_board WHERE bno = #{bno}
	]]>
  </delete>
  
  <select id="getList" resultType="Board">
 	<![CDATA[
	SELECT /*+ordered use_nl(temp tbl_board)*/ * FROM
	(
    SELECT ROWNUM RN, RD FROM
        	(
           	SELECT ROWID RD FROM TBL_BOARD
                ORDER BY bno
            ) T WHERE ROWNUM <= #{perSheet} * #{page}
    	) temp, tbl_board
	WHERE RN > #{perSheet} * (#{page} - 1) AND temp.RD = tbl_board.ROWID
	]]>
  </select>
</mapper>